body {
  margin: 0px;
  padding: 0px;
}

table, th, td {
  border: 1px solid black;
  border-collapse: collapse;
}

table {
  width: 660px;
  height: 800px;
}

#root {
  width: 100vw;
  height: 100vh;
  padding: 1rem;
  display: flex;
  flex-direction: column;
  /* justify-content: center; */
  align-items: center;
  flex-wrap: wrap;
}

#root > table > tbody > tr:nth-child(2), #root > table > tbody > tr:nth-child(2) > div {
  width: 100px;
  height: 5%;
}

#textBox {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: flex-start;
}

#textBox > p {
  margin: 0px;
  padding: 5px;
}